<style>

* {
  box-sizing: border-box;
}

div {
    display: block;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  /*padding: 30px;*/
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar
.topnav {
  overflow: hidden;
  background-color: #333;
}
*/

/* Style the topnav links
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
*/

/* Change color on hover
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
*/

/*
div {
 float: none
}
*/

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Left column */
.leftcolumn {
  flex: 20%;
  /*padding-left: 20px;*/
  background-color: #f1f1f1;
}

/* Create  unequal columns that floats next to each other */
/* Left column */
.midcolumn {
  flex: 60%;
  /*padding-left: 20px;*/
  background-color: #f1f1f1;
}

/* Right column
*/
.rightcolumn {
  flex: 20%;
  background-color: #f1f1f1;
  /*padding-left: 20px;*/
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  /*background-color: white;*/
  background-color: lightgrey;
  padding: 5px;
  /*margin-top: 20px;*/
}

/* Clear floats after the columns

.row:after {
  content: "";
  display: table;
  clear: both;
}
*/

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than xxx px wide, make the
   columns stack on top of each other instead of next to each other
*/

@media screen and (max-width: 700px) {

  .leftcolumn {
    padding: 0;
    width: 100%;
    float: left;
  }
  .midcolumn {
    padding: 0;
    width: 100%;
    float: left;
  }
  .rightcolumn {
    padding: 0;
    width: 100%;
    float: left;
  }
}

</style>

